body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
  }

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav_links a:visited{
    color: blue;
  }

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.gallery img{
    border: 10px solid;
    border: #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }


  #logo{
    animation-name: l_change;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }


  @keyframes l_change{
    from{
        opacity: 0;
        width: 50px;
    }
    to{
        opacity: 1;
        width: 425px;
    }
}

@media screen and (min-width: 850px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    body > header{
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        flex-basis: 250px;
    }
}



@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}


@media print {
    body {
        background-image: none;
    }

    body > header {
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid;
        border: #45ADDD;
        flex-basis: 250px;
    }

    

     #gallery{
        display: none;
    }

    .gallery{
        display: none;
    }

    .card li:nth-child(odd)::before{
        content: '\1F44D';
    }

    .card li:nth-child(even)::after{
        content: '\1F44D';
    }
}
